# Section 1
Section 1 - Develop a Machine Learning Pipeline for Classification/*.csv
Section 1 - Develop a Machine Learning Pipeline for Classification/.ipynb_checkpoints/
Section 1 - Develop a Machine Learning Pipeline for Classification/*.pkl
Section 1 - Develop a Machine Learning Pipeline for Classification/*.npy

# Section 4 - Predicting Survival Titanic - Procedural Programming
Section 4 - Predicting Survival Titanic - Procedural Programming/titanic.csv
Section 4 - Predicting Survival Titanic - Procedural Programming/.ipynb_checkpoints/
Section 4 - Predicting Survival Titanic - Procedural Programming/*.pkl

# Section 4 - Production Code - Third Party Pipeline
Section 4 - Production Code - Third Party Pipeline/venv
Section 4 - Production Code - Third Party Pipeline/.vscode
Section 4 - Production Code - Third Party Pipeline/*.csv
Section 4 - Production Code - Third Party Pipeline/*.pkl
Section 4 - Production Code - Third Party Pipeline/*.npy
